
extends layout

block content
	#login.center-vertical
		form.card.card-body.bg-light(method='post')
			h3(style='padding-bottom:0.5em') 
				strong Sign in to your account 
			
			.form-group
				
				input.form-control(type='text', id='user-tf', name='user',placeholder='username')
			.form-group
				
				input.form-control(type='password', id='pass-tf', name='pass',placeholder='password')
			#row1
				button(type='button')#btn_remember.btn.btn-light.btn-left
					span.fa.fa-check-square
					| Remember Me
				button(type='submit')#btn_sign_in.btn.btn-primary
					span.fa.fa-lock
					| Sign In
			hr
			.btm-links(style='color:#4f46e5 !important;') 
				#forgot-password
					a(href='#',style='color:#4f46e5 !important;') Forgot Your Password?
				#create-account
					a(href='/signup',style='color:#4f46e5 !important;') Create An Account

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')