mixin levelbox(currentlevel)
    - var totallevel = 4
    <div class="boxes">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box">
        <div class="progress">
        <div class="bar">
        - var barwidth = (100/(totallevel-1))*(currentlevel-1)
            <div class="bar__fill" style="width: #{barwidth}%"></div>
        </div>
        - var n = 1
        while n <= totallevel
            if n<currentlevel
                <div class="point point--complete">
                    <div class="bullet"></div>
                    <label class="label">#{n}</label>
                </div>
            if n==currentlevel
                <div class="point point--active">
                    <div class="bullet"></div>
                    <label class="label">#{n}</label>
                </div>
            if n>currentlevel
                <div class="point">
                    <div class="bullet"></div>
                    <label class="label">#{n}</label>
                </div>
            - n++
        </div>
    </div>
    </div>
    //- <a title="Settings" href="/settings" style="position: fixed;font-size: 40px;bottom: 30px;right: 30px;text-shadow: 0px 0px 1px;color: rosybrown;">
    //-  <i class="bi bi-gear-fill"></i>
    //- </a>
    script(src="js/views/level/base.js")