doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/level/style.css", attr)
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") 
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
        title Level
    body
        //- <img class="squares" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/squares.png"/>
        <div class="boxes">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box">
            <div class="progress">
            <div class="bar">
                <div class="bar__fill" style="width: 33%"></div>
            </div>
            <div class="point point--complete">
                <div class="bullet"></div>
                <label class="label">1</label>
            </div>
            <div class="point point--active">
                <div class="bullet"></div>
                <label class="label">2</label>
            </div>
            <div class="point">
                <div class="bullet"></div>
                <label class="label">3</label>
            </div>
            <div class="point">
                <div class="bullet"></div>
                <label class="label">4</label>
            </div>
            </div>
        </div>
        </div>
        script(src="js/views/level/base.js") 